# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\willi\OneDrive\Spring 2021\Intro to Databases\Database Project\.idea/dataSources/
/dataSources.local.xml
